/* * {
  border: 1px solid black;
} */

.info__media {
  border: 1px solid black;
  position: relative;
}

.profile {
  position: absolute;
  bottom: 0px;
}
.product__image {
  width: 200px;
  height: 200px;
  position: sticky;
  top: 0px;
  bottom: 100px;
}

.profile__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.preview__image {
  width: 100px;
  height: 100px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* ml = margin left의 약자 */
.ml-auto {
  margin-left: auto;
}

.empty-box {
  height: 1000px;
}
