/* * {
  border: 1px solid black;
} */

.product__image {
  width: 200px;
  height: 200px;
}

.profile__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.preview__image {
  width: 100px;
  height: 100px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* ml = margin left의 약자 */
.ml-auto {
  margin-left: auto;
}
