
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.header  p {
    color: orangered;
    font-size: 20px;
    font-weight: bold;
    padding-right:400px ;
}

.header button{
    background-color: orangered;
    color: white;
    border-radius: 10px;
    border: 0.5px solid ;
    margin: 1px;
}

.body1 h2{
    text-align: center;
}

.body1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.location-btn {
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
    align-items: center;
    display: flex;
}

.dropdown-icon {
  margin-left: 4px;
  font-size: 12px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    width: 60%;
}

.search-bar input {
    flex-grow: 1; 
    border: none;
    outline: none; 
    /* outline: 요소 바깥에 그려자는 선 */
    font-size: 16px;
}

.search-bar p{
    margin: 0 8px 0 0;
    font-size: bold;
}

.sb{
    display: flex;
     
}
.sb a{
  /* display: inline-block;  */
 /* 나란히 배치하기 위해 */
  margin-right: 8px;
  text-decoration: none;
  color: #666;
}

.sb a:hover{
    text-decoration: underline;
}

.nav {
  
    
    margin-top: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
    margin: 10px;
}

.nav a{
  display: block;
  text-decoration: none;
  color: #333;
  padding: 40px;
  border-radius: 20px;
  background-color: #ccc;

}

.body3{
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.body3 div{
    border: none;
    border-radius: 30px;
    background-color: #ccc;
    padding: 5px;
    margin: 10px;

}

.ica {
    width: 30px;
    height: 30px;
}

.logoset{
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.ww
{
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.sb p {
  margin-right: 10px;
  font-weight: bold;
}



a:hover{
  background-color: #333;
  color: #ccc;
}