:root {
  /* 기본 폰트 */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --main-color: #ff6600; /* 당근 메인 색상 */
  /* gray 색상 500을 기준으로 밝기순으로 나타냄 (gpt사용)*/
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #aeb2b9;
  --gray-500: #868b94; /* 기준 색상 */
  --gray-600: #6b707a;
  --gray-700: #50545c;
  --gray-800: #36393f;
  --gray-900: #1f2124;
}
